---
# Ansible configuration
ansible_become_passwords:
  server1: yourpassword
  server2: yourpassword

ansible_become_password: "{{ ansible_become_passwords[inventory_hostname] }}"

# Global environment variables
global_config:
  timezone: 'Europe/Paris'
  locale: 'fr_FR.UTF-8'

  users:
    - username: kpladmin
      groups: ['sudo']
      shell: /bin/zsh
      ssh_keys:
        - "ssh-rsa AAAA..."
        - "ecdsa-sha2-nistp256 BBBB..."
    - username: kpladmin2
      groups: ['sudo']
      shell: /bin/zsh
      ssh_keys:
        - "ssh-rsa CCCC..."
